# Server
RUN_ADDRESS=:8080
DATABASE_URI=postgres://user:password@localhost:5432/gophkeeper?sslmode=disable
JWT_SECRET=test-secret
TOKEN_EXP=24h

# Client
GOPHKEEPER_PASSWORD=master-password
GOPHKEEPER_DIR=
